@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #1d3557;
  --color-secondary: #457b9d;
  --color-accent: #a8dadc;
  --color-neutral: #f1faee;
  --color-danger: #e63946;
}